:host {
    display: flex;
    flex: 1;
    max-width: 100%;
  }

.meetup-event-section {
    h3 {
        font-size: 2vw;
        font-weight: 100;
        line-height: 3vw;
        color: #005b9f;
    }

    h4 {
        font-size: 1vw !important;
        font-weight: 50;
        line-height: 2vw;
    }

    background: #eceff1;
}

mat-list-item {
    padding: 15px;
}

.material-icons.large-scaled {
  font-size: 1.5vw;
  color: #494949;
}

.action-button {
  padding-left: 25px;
}


