<!-- <div class="about" [@whoWeAreAnimation]="descriptions.length">
    <div *ngFor="let description of descriptions">
            {{description}}
    </div>
</div> -->

<div class="about" fxFlex>
  <img src="assets/meetup2.jpg" alt="Meet up">
  <div class="text" fxLayoutGap="20px" fxLayout="column">
    <div>
        We are Angular enthusiasts.
    </div>
    <div>
        We are Angular newbies.
    </div>
    <div>
        We want to learn about web development using the Angular framework.
    </div>
    <div>
        We want to share our knowledge about web development with others.
    </div>
    <div>
        We want to build a highly technical, exciting, and collaborative Angular community in Kansas City.
    </div>
  </div>
</div>
